* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  font-weight: 100;
}

* {
  font-weight: 200;
}

* {
  font-weight: 300;
}

* {
  font-weight: 400;
}
* {
  font-weight: 500;
}
